@-webkit-keyframes fundo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes fundo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fundo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    overflow: hidden;

    background: linear-gradient(127deg, #904dec, #8c3eb9, #ac37b9, #8c3eb9, #904dec);
    background-size: 800% 800%;

    -webkit-animation: fundo 26s ease infinite;
    -moz-animation: fundo 26s ease infinite;
    animation: fundo 26s ease infinite;
    color: #fff;
}

body .calculadora {
    width: fit-content;
    padding: 2vh;
    border-radius: 5%;


    backdrop-filter: blur(1px);
    border: #ffffffad 0.3px solid;
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-backdrop-filter: blur(1px);
}

body .calculadora p{
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    margin-top: 10%;
    font-size: 60%;
}

body .calculadora input.display-box{
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    text-align: right;
    color: #fff;

    border: none;
    border-bottom: #fff 0.3px solid;
    background-color: transparent;

    margin-bottom: 5vh;
    font-size: 150%;
    height: 10vh;
}

body .calculadora .teclado{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

body .calculadora input.button{
    border-radius: 170%;
    min-width: 10vh;
    min-height: 10vh;
    font-size: 200%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 0.5px solid #fff;
    color: #fff;

    transition: 0.2s;
    -webkit-backdrop-filter: blur(10px);
}

body .calculadora input.button:hover{
    transform: scale(1.2);
}

body .calculadora input.iniciar{
    width: 100%;
    padding: 2vh;
    margin-top: 2vh;

    background-color: transparent;
    backdrop-filter: blur(5px);
    border: transparent;
    color: #fff;

    transition: 0.2s;
    -webkit-backdrop-filter: blur(5px);
}
.iniciar:hover {
    transform: scale(1.05);
}



/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}